<!-- Describe task in general -->

<p>
    Знайдіть найближче значення до заданого.
</p>
<p>
    Вам задано {% if is_js %}набір чисел{% else %}набір цілих чисел{% endif %}
    і значення, для якого потрібно знайти найближче.
</p>
<p>
    Наприклад, маємо наступну послідовність чисел: 4, 7, 10, 11, 12, 17,
    і нам потрібно знайти найближче значення до числа 9. Якщо ми відсортуємо цю послідовність
    за зростанням, то зліва від числа 9 буде стояти число 7, а справа - число 10
    праворуч - число 10. Але 10 ближче до 7, а це означає, що правильна відповідь - 10.
</p>

<p>Декілька уточнень:</p>
<ul>
    <li>Якщо 2 числа знаходяться на однаковій відстані, потрібно вибрати найменше з них;</li>
    <li>Послідовність чисел завжди непорожня;</li>
    <li>Задане значення може знаходитись у цій послідовності, а це означає, що воно є відповіддю;</li>
    <li>Послідовність може містити як додатні, так і від'ємні числа, але вони завжди цілі;</li>
    <li>Послідовність не відсортована і складається лише з унікальних чисел.</li>
</ul>
<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Два аргументи. {% if is_js %}Набір чисел{% else %}Набір цілих чисел{% endif %}. Шукане значення у вигляді {% if is_js %}числа{% else %}цілого{% endif %}.
</p>

<p>
   <strong>Вихідні дані:</strong> {% if is_js %}Число{% else %}Ціле число{% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
