<!-- Describe task in general -->

<p>
    Proszę znaleźć wartość najbliższą podanej.
</p>
<p>
    Otrzymuje Pan(i) {% if is_js %}zbiór liczb{% else %}zbiór liczb całkowitych{% endif %}
    oraz wartość, dla której należy znaleźć najbliższą.
</p>
<p>
    Na przykład, mamy następujący ciąg liczb: 4, 7, 10, 11, 12, 17,
    i musimy znaleźć wartość najbliższą liczbie 9. Jeśli posortujemy ten ciąg
    w porządku rosnącym, to po lewej stronie liczby 9 będzie liczba 7, a po prawej - liczba 10
    po prawej będzie liczba 10. Ale 10 jest bliżej niż 7, co oznacza, że poprawną odpowiedzią jest 10.
</p>

<p>Kilka wyjaśnień:</p>
<ul>
    <li>Jeśli 2 liczby znajdują się w tej samej odległości, należy wybrać najmniejszą z nich;</li>
    <li>Ciąg liczb jest zawsze niepusty;</li>
    <li>Podana wartość może znajdować się w tym ciągu, co oznacza, że jest to odpowiedź;</li>
    <li>Ciąg może zawierać zarówno liczby dodatnie, jak i ujemne, ale zawsze są to liczby całkowite;</li>
    <li>Ciąg nie jest posortowany i składa się tylko z unikalnych liczb.</li>
</ul>
<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> Dwa argumenty. {% if is_js %}Zbiór liczb{% else %}Zbiór liczb całkowitych{% endif %}. Poszukiwana wartość jako {% if is_js %}liczba{% else %}liczba całkowita{% endif %}.
</p>

<p>
   <strong>Wyjście:</strong> {% if is_js %}Liczba{% else %}Liczba całkowita{% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
